name: CI

on:
  push:
    branches: [main]
  pull_request:
  # ^ keeping it empty below here should mean every pr triggers the pipeline 
jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up GHC
        uses: haskell-actions/setup@v2
        with:
          ghc-version: '9.10'
          cabal-version: 'latest'

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.cabal/packages
            ~/.cabal/store
            dist-newstyle
          key: ${{ runner.os }}-cabal-${{ hashFiles('**/*.cabal') }}
          restore-keys: |
            ${{ runner.os }}-cabal-

      - name: Update Hackage index
        run: cabal update

      - name: Build
        run: cabal build all

      - name: Run tests
        run: cabal test all --test-show-details=direct
        # ^ we run direct to stream the output as it is testing. This gives us a clearer sense of where the tests are